In [1]:
import pandas as pd
import numpy as np

In [15]:
match_data = pd.read_csv('./match_data.csv')
# host_team_column = [row for i,row in enumerate(match_data.index) if not i % 2]
# match_data = match_data.loc[host_team_column]
match_data.head()

,Unnamed: 0,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,...,2P.1,2PA.1,2P%.1,3P.1,3PA.1,3P%.1,FT.1,FTA.1,FT%.1,PTS.1
0,0,13/3/21,ATL,SAC,W 121-106,240,43,84,0.512,31,...,36,62,0.581,7,36,0.194,13,16,0.813,106
1,1,13/3/21,SAC,ATL,L 106-121,240,43,98,0.439,36,...,31,51,0.608,12,33,0.364,23,33,0.697,121
2,2,13/3/21,BRK,DET,W 100-95,240,39,81,0.481,33,...,28,57,0.491,8,32,0.250,15,20,0.750,95
3,3,13/3/21,DET,BRK,L 95-100,240,36,89,0.404,28,...,33,54,0.611,6,27,0.222,16,22,0.727,100
4,4,13/3/21,CHO,TOR,W 114-104,240,39,80,0.488,18,...,22,50,0.440,15,46,0.326,15,18,0.833,104

In [18]:
match_data.shape

(1200, 32)

In [4]:
# match_data = match_data[0:5]

In [5]:
match_data['Date'] = pd.to_datetime(match_data['Date'])
match_data['Date'] = match_data['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))
match_data['Date'] = match_data['Date'].apply(lambda x: x[0:4] + x[5:7] + x[8:10])

In [12]:
def get_match_id(row):
    id = row['Date']+ '0'
    id += row['Tm'] 
    url = 'https://www.basketball-reference.com/boxscores/' + id + '.html'
    return url

In [13]:
def get_player_data(url, match_id):
    try:
        # get first team team player
        tables = pd.read_html(url)
        df_guest = tables[0]
        df_guest.columns = ['Starters', 'MP', 'FG', 'FGA', 'FG%', '3P','3PA', '3P%', 'FT', 'FTA', 
                        'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '+/-']
        df_guest = df_guest[df_guest['Starters'] != 'Reserves']
        
        df_guest_add = tables[7]
        df_guest_add.columns = ['Starters', 'MP', 'TS%', 'eFG%', '3PAr', 'FTr', 'ORB%','DRB%', 'TRB%', 
                            'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']
        df_guest_add = df_guest_add[df_guest_add['Starters'] != 'Reserves']

        df_guest_all = df_guest.merge(df_guest_add, on = ['Starters', 'MP'])
        

        # get second team player
        df_host = tables[8]
        df_host.columns = df_guest.columns
        df_host = df_host[df_host['Starters'] != 'Reserves']
        
        df_host_add = tables[15]
        df_host_add.columns = df_guest_add.columns
        df_host_add = df_host_add[df_host_add['Starters'] != 'Reserves']

        # combine two team
        df_host_all = df_host.merge(df_host_add, on = ['Starters', 'MP'])
        df_host_all.loc['end_of_host'] = np.nan
        result = pd.concat([df_host_all, df_guest_all], axis = 0)
        # result.to_csv('./players/' + match_id + '.csv', index = 0)
    
    except:
        pass

In [14]:
for index, row in match_data.iterrows():
    match_id = row['Date'] + '_' + row['Tm'] + '_' + row['Opp']
    url = get_match_id(row)
    get_player_data(url, match_id)